.c
{
    height: 100vh;
    position: relative;
}
.c-bg
{
    width: 20px;
    height: 100%;
    background-color: #39a0ca;
    position: absolute;
}

.c-wrapper
{
    margin-top: 100px;
    margin-left: 15px;
    padding: 25px;
    display: flex;
}

.c-left
{
    flex: 1;
    /* margin-top: 50px; */
}
.c-right
{
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-self: center;
    flex-direction: column;
    /* margin-top: 60px; */
}

.c-title
{
    font-size: 60px;
    text-shadow: 2px 2px #39a0ca;
}

.c-info-item
{
    display: flex;
    align-items: center;
    width: 70%;
    font-weight: 300;
    margin: 35px 0px;
}

.c-icon
{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.c-desc
{
    font-weight: 200;
}

form
{
    margin-top: 20px;
}

input
{
    width: 50%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #39a0ca;
    margin: 8px 0px;
    font-size: 15px;
    padding-left: 10px;
}

textarea
{
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
    padding-left: 10px;
    border: 1px solid #39a0ca;
}

.con-btn
{
    margin: 5px 0px;
    border: none;
    cursor: pointer;
    background-color: #39a0ca;
    padding: 10px;
    color: aliceblue;
}
.con-btn:hover
{
    margin: 5px 0px;
    border: none;
    cursor: pointer;
    background-color: #32809e;
    padding: 10px;
    color: aliceblue;
}

.f-submit
{
    margin: 0px 5px;
    color: #39a0ca;
    font-size: bold;
    

}

.c-gettouch-title
{
    font-size: 60px;
    font-weight:bolder;
    text-shadow: 2px 2px #39a0ca;
}

.c-gettouch-icon
{
    width: 70px;
    height: 70px;
    margin: 5px 10px;
    /* filter: invert(); */
    border-radius: 50%;
    cursor: pointer;
    
}
.end-p
{
    display: flex;
    justify-content: center;   
    width: 60%;
    margin-top: 30px;
}

.c-gettouch-card a 
{
    text-decoration: none;
    
}

@media screen and (max-width:480px) {

    .c-wrapper
    {
        flex-direction: column;
    }
    .c-info
    {
        width: 100%;
    }

    .c-desc
    {
        display: none;
    }

    .c-info-item
    {
        margin: 5px 0px;
    }

    form
    {
        margin: 0px;
    }

    input
    {   
        margin: 0px;
        width: 35%;
        height: 30px;
        margin: 10px;
    }

    textarea
    {
        margin-top: 5px;
    }
    
}
